* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.raed.net/img?id=1124757'); /* استبدل هذا بالرابط الخاص بالصورة التي تريد استخدامها */
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
